body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 30px;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}

table.main {
  width: 800px;
  border-collapse: collapse;
}

table td, th {
  border: 1px solid;
  padding: 4px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

li {
  padding-bottom: 5px;
}